<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>VvS zaalrooster</title>
		<link href="{{ MEDIA_URL }}style.css" rel="stylesheet" type="text/css" />
		{% block head %}{% endblock %}
	</head>
	<body{% block bodyattrs %}{% endblock %}>
		<div id="wrapper">
			<div id="header">
				<span id="user-tools">
{% if not user.is_anonymous %}
					Dag {{ user }}. <a href="{% url logout %}">Uitloggen?</a>
{% endif %}
				</span>
				<h1>Zaalrooster Villa van Schaeck</h1>
			</div>
{% if messages %}
			<ul class="messages">
	{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
			</ul>
{% endif %}
			<div id="content">
				{% block body %}{% endblock %}
			</div>
		</div>
		{% block footer %}{% endblock %}
	</body>
</html>
