{% extends "base.html" %}

{% block body %}
<h1>Zaalrooster beheer</h1>
<ul class="moderatorLinks">
{% for m in months %}
	<li><a href="{% url month-view year=m.year, month=m.month %}">{{ m.human }}</a></li>
{% endfor %}
	<li><a href="/pending/">Openstaande aanvragen ({{ counters.pending }})</a></li>
	<li><a href="/approved/">Gereserveerde aanvragen ({{ counters.approved }})</a></li>
	<li><a href="/needsigning/">Te tekenen aanvragen ({{ counters.needsigning }})</a></li>
	<li><a href="/cancel_request/">Te annuleren aanvragen ({{ counters.cancel_request }})</a></li>

	<li class="empty"></li>

	<li><a href="/future/confirmed/">Actuele getekende aanvragen</a></li>
	<li><a href="/future/backup/">Actuele reservelijst</a></li>
	<li><a href="/future/denied/">Actuele afgewezen aanvragen</a></li>
	<li><a href="/future/cancelled/">Actuele geannuleerde aanvragen</a></li>

	<li class="empty"></li>

	<li><a href="/confirmed/">All getekende aanvragen</a></li>
	<li><a href="/backup/">Volledige reservelijst</a></li>
	<li><a href="/denied/">Alle afgewezen aanvragen</a></li>
	<li><a href="/cancelled/">Alle geannuleerde aanvragen</a></li>

	<li class="empty"></li>

	<li><a href="/admin/">Beheer</a></li>
</ul>
{% endblock %}
