{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="{{ MEDIA_URL }}overlib.js"></script>
	<script type="text/javascript">
		var active_rooms = {};

		// Taken from http://www.w3schools.com/js/js_cookies.asp
		function getCookie(c_name) {
			var i,x,y,ARRcookies=document.cookie.split(";");
			for (i=0;i<ARRcookies.length;i++) {
				x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
				y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
				x=x.replace(/^\s+|\s+$/g,"");
				if (x==c_name) {
					return unescape(y);
				}
			}
		}

		function zaalcheckers_init() {
			var ar = getCookie("vvs_hiderooms").split(',');
			for(var i = 0; ar.length > i; i++) {
				document.getElementById('zaal_'+ ar[i]).checked = false;
				internal_toggle_zaal(ar[i], false);
			}
		}
		function internal_toggle_zaal(id, enable) {
			var els = document.getElementsByClassName('zaalrow_'+ id);
			for(var i = 0; els.length > i; i++) {
				els[i].style.display = enable ? '' : 'none';
			}
			active_rooms[id] = enable;
		}
		function toggle_zaal(id, enable) {
			internal_toggle_zaal(id, enable);
			var ar = [];
			for(r in active_rooms) {
				if(!active_rooms[r]) {
					ar.push(r)
				}
			}
			document.cookie = "vvs_hiderooms="+ ar.join(',') + "; path=/";
		}
	</script>
{% endblock %}
{% block bodyattrs %} onload="zaalcheckers_init()"{% endblock %}

{% block body %}
<span class="prevnext">
<form id="zaalchecker">
<table>
	<tr>
{% for rid, room in rooms.items %}
		<td><input type="checkbox" id="zaal_{{ rid }}" checked onChange="toggle_zaal({{ rid }}, this.checked);"><label for="zaal_{{ rid }}">{{ room|capfirst }}</label></td>
{% endfor %}
		<td><a href="{{ prev }} "><img src="{{ MEDIA_URL }}prev.png"></a> <a href="{{ next }}"><img src="{{ MEDIA_URL }}next.png"></a></td>
	</tr>
</table>
</form>
</span>
<h1>Zaalrooster {{ monthhuman }} {{ year }}</h1>
<table class="agenda">
	<tr>
		<th></th>
		<th>Maandag</th>
		<th>Dinsdag</th>
		<th>Woensdag</th>
		<th>Donderdag</th>
		<th>Vrijdag</th>
		<th>Zaterdag</th>
		<th>Zondag</th>
	</tr>
{% for week in table %}
	{% for roomrow in week %}
		{% if forloop.first %}
	<tr class="daterow">
		<td></td>
		{% for day in roomrow.days %}
		<td{% if not day.activeMonth %} class="inactiveMonth"{% endif %}>{% if day.subscribeURL %}<a href="{{ day.subscribeURL }}" class="subscribe"><img src="{{ MEDIA_URL }}subscribe.png"></a>{% endif %}{{ day.date }}</td>
		{% endfor %}
	</tr>
		{% endif %}
	<tr class="zaalrow_{{ roomrow.id }}">
		<td>{{ roomrow.room|capfirst }}</td>
		{% for day in roomrow.days %}
			<td>
				{# <div class="date">{{ day.date }}</div> #}
				{% for fr in day.fixedRent %}
					<div class="fixedRent" onMouseOver="return overlib('Vaste huur<br>{{ fr.timeframe|addslashes }}');" onMouseOut="return nd();"><span class="hirer">{{ fr.hirer }}</span></div>
				{% endfor %}
				{% for fre in day.fixedRentExceptions %}
					<div class="fixedRentException" onMouseOver="return overlib('Geannuleerd: <s>Vaste huur</s><br><s>{{ fre.rental.timeframe|addslashes }}</s>');" onMouseOut="return nd();"><span class="hirer">{{ fre.rental.hirer }}</span></div>
				{% endfor %}
				{% for r in day.reservations %}
					<div class="reservation state_{{ r.state }}" onMouseOver="return overlib('{{ r.getHumanState }}<br>{{ r.name|addslashes }}<br>{{ r.timeframe|addslashes }}');" onMouseOut="return nd();"><span class="hirer">{{ r.hirer }}</span></div>
				{% endfor %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
{% endfor %}
</table>
<br>
<span class="prevnext"><a href="{{ prev }} "><img src="{{ MEDIA_URL }}prev.png"></a> <a href="{{ next }}"><img src="{{ MEDIA_URL }}next.png"></a></span>
{% endblock %}
